.alert-success {
    color: rgb(0, 255, 0);
    font-size: 16px;
}

.alert-warning {
    color: yellow;
    font-size: 16px;
}

.alert-danger {
    color: red;
    font-size: 16px;
}

.alert-info {
    color: teal;
    font-size: 16px;
}

nav li{display: inline; background-color: grey; color: white}
nav li a{color: white}
input{border-radius: 5%;}
body{
    text-align: center;
    background-color: grey;
    color: white;
    font-size: 14px;

}