.alert-success {
    color: rgb(0, 255, 0);
    font-size: 20px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.alert-warning {
    color: rgb(255, 255, 0);
    font-size: 20px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.alert-danger {
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.alert-info {
    color: rgb(0, 255, 255);
    font-size: 20px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

nav li{display: inline; background-color: grey; color: white}
nav li {padding-right: 15px;padding-left: 15px}

nav li a{color: white}
input{border-radius: 5%;}
body{
    text-align: center;
    background-color: grey;
    color: white;
    font-size: 18px;

}
